{
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf",

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "importOrder": [
    ".css$",
    ".Styles",
    "style",
    "^react",
    "^@",
    "^[../]",
    "^[./]",
    "<THIRD_PARTY_MODULES>"
  ],

  "importOrderSeparation": true,

  "importOrderSortSpecifiers": true
}
