@keyframes fadeKeyFrame {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fadeKeyFrame 500ms ease-out 1;
  animation-fill-mode: forwards;
}

@keyframes showUpFrame {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.showup {
  animation: showUpFrame 700ms ease-out 1;
  animation-delay: 1600ms;
  animation-fill-mode: forwards;
  font-family: "Maplestory";
}
