@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MapleStory";
  src: url("../../public/fonts/Maplestory_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    /* Color */
    --color-white: #ffffff;
    --color-white-100: #fafafa;

    --color-black: #232323;

    --color-gray-100: #efefef;
    --color-gray-200: #e3e3e3;
    --color-gray-300: #b3b3b3;
    --color-gray-500: #909090;

    --color-transparent-10: #23232310;
    --color-transparent-30: #23232330;
    --color-transparent-50: #23232350;
    --color-transparent-90: #23232390;

    --color-red-100: #ff6878;
    --color-red-500: #ff4141;

    --color-pink-100: #feaf88;

    --color-blue-300: #3897f0;

    --color-yellow-500: #f7bc01;

    --color-green-100: #f1f5eb;
    --color-green-300: #b9db56;
    --color-green-500: #81bb26;

    --color-background: #fafafa;
    --color-container: #fefefe;

    --color-text-primary: #232323;
    --color-text-second: #fefefe;

    /* 
      TODO  
      미확인 스타일 코드 - 추후 검사 후 제거 필요 
    */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* Color */
    --color-white: #ffffff;
    --color-white-100: #fafafa;

    --color-black: #232323;

    --color-gray-100: #efefef;
    --color-gray-200: #e3e3e3;
    --color-gray-300: #b3b3b3;
    --color-gray-500: #909090;

    --color-transparent-10: #23232310;
    --color-transparent-30: #23232330;
    --color-transparent-50: #23232350;
    --color-transparent-90: #23232390;

    --color-red-100: #ff6878;
    --color-red-500: #ff4141;

    --color-pink-100: #feaf88;

    --color-blue-300: #3897f0;

    --color-yellow-500: #f7bc01;

    --color-green-100: #f1f5eb;
    --color-green-300: #b9db56;
    --color-green-500: #81bb26;

    --color-background: #fafafa;
    --color-container: #fefefe;

    --color-text-primary: #232323;
    --color-text-second: #fefefe;

    /* 
      TODO  
      미확인 스타일 코드 - 추후 검사 후 제거 필요 
    */

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    color: var(--color-text-primary);
  }

  html,
  body {
    width: 100%;
    box-sizing: border-box;
    touch-action: manipulation;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overscroll-behavior-x: none;
  }

  html {
    font-size: 62.5%;
    height: 100%;
  }

  body {
    @apply bg-background text-foreground;

    width: 100vw;
    height: 100%;
    background-color: var(--color-background);

    font-size: 1.4rem;
    font-family:
      "Pretendard Variable",
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      "Helvetica Neue",
      "Segoe UI",
      "Apple SD Gothic Neo",
      "Noto Sans KR",
      "Malgun Gothic",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }

  main {
    width: 100%;
    height: 100%;
    /* max-width: ${CONTAINER.MAX_WIDTH}rem; */
    margin: 0 auto;

    position: relative;

    overflow-x: hidden;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }

  main::-webkit-scrollbar {
    display: none;
  }
}
