@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MapleStory";
  src: url("/src/fonts/Maplestory_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
